<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767355109816-aoo3bgilm82e69tbgn8s7n1jdj425hj2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767355109816-aoo3bgilm82e69tbgn8s7n1jdj425hj2</string>
	<key>API_KEY</key>
	<string>AIzaSyAFOQ23TyY_h52bR00NhQkj8qa8UJqzv9w</string>
	<key>GCM_SENDER_ID</key>
	<string>767355109816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SnipApplication</string>
	<key>PROJECT_ID</key>
	<string>snipapplication</string>
	<key>STORAGE_BUCKET</key>
	<string>snipapplication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:767355109816:ios:993e7c1365ec52ebb5cf4d</string>
</dict>
</plist>
